[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi -i /home/ubuntu/home/.config/uwsgi/boltnnut-platform.ini --plugin python33

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
